<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="最新,最新章节,都市小说,阅读" />
        <meta name="description" content="随身带个侏罗纪最新章节阅读，随身带个侏罗纪是一部都市小说,由木鱼和尚创作,起点提供首发更新。第四百六十一章 杀鸡儆猴 如何解释(2016.09.27)" />
        <title>随身带个侏罗纪_第一章 发家致富燕三分_Python学院_小说下载</title>
        <link href="css/chapter.css" rel="stylesheet" />
    </head>
<body>

    <!-- Full Screen -->
    <div class="full-pic"></div>
    <!-- sidebar -->
    <div class="sidebar">
        <span class="return iconfont">&#xe618;</span>

        <!-- dire -->
        <span id="lan-Top"  class="dir">
            <span class="dir-wrap">
                <i class="iconfont">&#xe60b;</i>
                <p>目录</p>
            </span>
            <div class="dir-content" style="display: none;">
                <h3>
                    <i class="iconfont close">&#xe605;</i>
                    <span class="content-txt">目录</span>
                </h3>

                <div class="title-list">

                    <div class="title-wrap">
                        <h2>
                            <span>
                                作品相关
                                <i class="iconfont dir-icon icon-icon2"></i>
                            </span>
                        </h2>

                        <ul class="dir-list">
                            <li><a href="javascript: void(0);">序章</a></li>
                            <li><a href="javascript: void(0);">第一章 青墟</a></li>
                            <li><a href="javascript: void(0);">第二章 感情</a></li>
                            <li><a href="javascript: void(0);">第三章 混沌</a></li>
                            <li><a href="javascript: void(0);">第四章 琐屑</a></li>
                            <li><a href="javascript: void(0);">第五章 继续</a></li>
                            <li><a href="javascript: void(0);">第六章 重手</a></li>
                            <li><a href="javascript: void(0);">第七章 杀机</a></li>
                            <li><a href="javascript: void(0);">第八章 从容</a></li>
                            <li><a href="javascript: void(0);">第九章 离去</a></li>
                            <li><a href="javascript: void(0);">第十章 探究</a></li>
                            <li><a href="javascript: void(0);">第十一章 队伍</a></li>
                            <li><a href="javascript: void(0);">第十二章 修炼</a></li>
                            <li><a href="javascript: void(0);">第十三章 堵截</a></li>
                            <li><a href="javascript: void(0);">第十四章 置身事外</a></li>
                            <li><a href="javascript: void(0);">第十五章 恢复</a></li>
                            <li><a href="javascript: void(0);">第十六章 武圣</a></li>
                            <li><a href="javascript: void(0);">第十七章 偶遇</a></li>
                            <li><a href="javascript: void(0);">第十八章 购剑</a></li>
                            <li><a href="javascript: void(0);">第十九章 听剑</a></li>
                            <li><a href="javascript: void(0);">第二十章 来势汹汹</a></li>
                            <li><a href="javascript: void(0);">第二十一章 祸从口出</a></li>
                            <li><a href="javascript: void(0);">第二十二章 实力</a></li>
                            <li><a href="javascript: void(0);">第二十三章 强者法则</a></li>
                            <li><a href="javascript: void(0);">第二十四章 打破束缚</a></li>
                            <li><a href="javascript: void(0);">第二十五章 秘密</a></li>
                            <li><a href="javascript: void(0);">第二十六章 剑意</a></li>
                            <li><a href="javascript: void(0);">第二十七章 碾压</a></li>
                            <li><a href="javascript: void(0);">第二十八章 洞悉</a></li>
                            <li><a href="javascript: void(0);">第二十九章 混沌誓约</a></li>
                            <li><a href="javascript: void(0);">第三十章 三重解放</a></li>
                            <li><a href="javascript: void(0);">第三十一章 上门</a></li>
                        </ul>

                    </div>

                    <div class="title-wrap">
                        <h2>
                            <span>
                                作品相关
                                <i class="iconfont dir-icon icon-icon2"></i>
                            </span>
                        </h2>

                        <ul class="dir-list">
                            <li><a href="javascript: void(0);">序章</a></li>
                            <li><a href="javascript: void(0);">第一章 青墟</a></li>
                            <li><a href="javascript: void(0);">第二章 感情</a></li>
                            <li><a href="javascript: void(0);">第三章 混沌</a></li>
                            <li><a href="javascript: void(0);">第四章 琐屑</a></li>
                            <li><a href="javascript: void(0);">第五章 继续</a></li>
                            <li><a href="javascript: void(0);">第六章 重手</a></li>
                            <li><a href="javascript: void(0);">第七章 杀机</a></li>
                            <li><a href="javascript: void(0);">第八章 从容</a></li>
                            <li><a href="javascript: void(0);">第九章 离去</a></li>
                            <li><a href="javascript: void(0);">第十章 探究</a></li>
                            <li><a href="javascript: void(0);">第十一章 队伍</a></li>
                            <li><a href="javascript: void(0);">第十二章 修炼</a></li>
                            <li><a href="javascript: void(0);">第十三章 堵截</a></li>
                            <li><a href="javascript: void(0);">第十四章 置身事外</a></li>
                            <li><a href="javascript: void(0);">第十五章 恢复</a></li>
                            <li><a href="javascript: void(0);">第十六章 武圣</a></li>
                            <li><a href="javascript: void(0);">第十七章 偶遇</a></li>
                            <li><a href="javascript: void(0);">第十八章 购剑</a></li>
                            <li><a href="javascript: void(0);">第十九章 听剑</a></li>
                            <li><a href="javascript: void(0);">第二十章 来势汹汹</a></li>
                            <li><a href="javascript: void(0);">第二十一章 祸从口出</a></li>
                            <li><a href="javascript: void(0);">第二十二章 实力</a></li>
                            <li><a href="javascript: void(0);">第二十三章 强者法则</a></li>
                            <li><a href="javascript: void(0);">第二十四章 打破束缚</a></li>
                            <li><a href="javascript: void(0);">第二十五章 秘密</a></li>
                            <li><a href="javascript: void(0);">第二十六章 剑意</a></li>
                            <li><a href="javascript: void(0);">第二十七章 碾压</a></li>
                            <li><a href="javascript: void(0);">第二十八章 洞悉</a></li>
                            <li><a href="javascript: void(0);">第二十九章 混沌誓约</a></li>
                            <li><a href="javascript: void(0);">第三十章 三重解放</a></li>
                            <li><a href="javascript: void(0);">第三十一章 上门</a></li>
                        </ul>

                    </div>

                </div>


            </div>
        </span>
    </div>

    <!--===== Header Begin =====-->
    <header class="header">
        <div class="wrap990" style="width: auto; max-width: 990px;">
            <div class="logo">
                <a href="index.html">潭州Python书院</a>
            </div>

            <div class="right-search">
                <form action="" target="_blank">
                    <input name="kw" type="text" />
                    <input id="search-submit" type="submit" value="" />
                    <label class="label-tag" for="search-submit">
                        <i class="iconfont">&#xe714;</i>
                    </label>
                </form>
            </div>
           
        </div>
    </header>
    <!--===== End Header =====-->



    <!--===== Main Begin =====-->
    <section class="main">
        <div class="wrap800 main-wrap">
            <div class="content">
                <h2>吃掉地球</h2>
                <h2>第一章 发家致富燕三分</h2>

                <div class="read-content j_readContent">
                    <p>　　东阳山。</p>
                    <p>　　东阳剑宗。</p>
                    <p>　　喊杀震天。</p>
                    <p>　　数百人将东阳剑宗围得水泄不通，三十几道身手矫健宛若超人般的身影，在东阳剑宗祖师大殿外不断冲杀。</p>
                    <p>　　防守于祖师大殿外的东阳剑宗弟子，越来越少、越来越少……</p>
                    <p>　　最终，只剩三人。</p>
                    <p>　　败亡近在眼前！</p>
                    <p>　　突兀……</p>
                    <p>　　剑气纵横！</p>
                    <p>　　一道身影以不可思议的迅速，横击出世，席卷着凛冽寒霜般的剑芒将东阳剑宗祖师大殿外数十道身影完全笼罩……</p>
                    <p>　　“嗤！嗤！嗤！”</p>
                    <p>　　在那三十几道身影尚未反应过来前，血光迸射，十四人同时中剑，身形暴退！</p>
                    <p>　　“青墟！”</p>
                    <p>　　“是东阳青墟！”</p>
                    <p>　　“剑圣青墟！他……他居然来了！？王神霆不是让武者协会施压，将其禁足于南山别院了吗！？”</p>
                    <p>　　“退！退！快退开！”</p>
                    <p>　　刹那间，围杀着东阳剑宗最后四人的三十几道身影同时飞退，眨眼间退到了百米开外，一个个充满忌惮的看着那道突然杀出的青色身影。</p>
                    <p>　　“青墟，你不该来。”</p>
                    <p>　　东阳剑宗，剩下三人中似乎为首的一位女子看着他，一声叹息。</p>
                    <p>　　“身为东阳剑宗弟子，宗门有难，我责无旁贷。”</p>
                    <p>　　青墟上前，扶着那位女子，轻轻坐下。</p>
                    <p>　　“你不是江湖人，何必陷入我们这群江湖草莽的漩涡？你父亲，是浦阳市副市长，母亲是商业银行玉海行省总行长，前途无量……若不介入江湖厮杀，有国家武者协会弹压，纵同为我东阳剑宗弟子也没人敢动你半分……”</p>
                    <p>　　青墟看着身上白衣被鲜血染红的女子，低头道了一声：“我有不得不来的理由。”</p>
                    <p>　　听得青墟所言，女子紧了紧衣角，俏丽白皙的脸上满是哀伤。</p>
                    <p>　　“师弟……”</p>
                    <p>　　“这是我的选择。”</p>
                    <p>　　青墟道。</p>
                    <p>　　语气不重，但却充满坚决。</p>
                    <p>　　“青墟！你只是拜入东阳剑宗的武学爱好者，不算东阳剑宗真正弟子，当真要介入东阳剑宗一事？需知，江湖人杀害政府高官，乃是重罪，姜凝芝倚仗武功剑术，残杀北江行省叶省长、黄处长、齐老板三家四位公子，杀害前去缉拿她的警员二十三人，罪不容诛，此事已直达中央，引得高层震怒，武者协会总会高层有人亲口下令，灭东阳剑宗以正天下视听！今日，谁也救不了东阳剑宗，你若执迷不悟，妄图倚仗剑术保全东阳剑宗，那么为了保持江湖秩序，为了避免江湖和政府矛盾激化，休怪我等以大欺小以多欺少，将你一道击杀。”</p>
                    <p>　　此时，围住青墟等人的慌乱人中，一位看上去四十上下，充满凌厉气息的男子上前，沉声大喝。</p>
                    <p>　　“师姐杀他们，是因为他们该杀，**我东阳剑宗女弟子，虐待至死，这种人渣，不杀不足以平天下怨！”</p>
                    <p>　　“要杀也不该由你姜凝芝出手，武者协会自会和政府商议，就此事给你东阳剑宗，给我们江湖诸派一个交代。”</p>
                    <p>　　中年男子说着，神色严厉的扫向青墟身后那位沾满鲜血的白衣女子：“此事本可和平解决，可却因你之故使得整个东阳剑宗遭遇灭顶之灾，眼下，若你不愿让东阳剑宗上下传承彻底断决，最好就随我前去受罚，否则，东阳剑宗弟子将没有一人能够活着离开东阳山……”</p>
                    <p>　　“他们……该死！此事，如果再来一回，我也绝不后悔！”</p>
                    <p>　　姜凝芝俏脸决然。</p>
                    <p>　　宁为玉碎不为瓦全。</p>
                    <p>　　“你……就因你一时冲动，政府对我们江湖势力的忌惮再度上升，江湖众人处境更为艰难，就连……”</p>
                    <p>　　“够了！”</p>
                    <p>　　中年男子话未说完，一声厉喝猛然自人群中传出。</p>
                    <p>　　紧接着，便见众江湖人分开，一支一百零八人的特种战术小队迅速的排众而出，全副武装，持拿枪械，瞄准青墟、姜凝芝以及东阳剑宗长老姜云、古柯。</p>
                    <p>　　而在这支特种小队中央，一位浑身上下充满威严的中年男子和一个肩带上校军衔的男子同时而至。</p>
                    <p>　　“叶省长。”</p>
                    <p>　　“黄师长。”</p>
                    <p>　　看到两人带着军人出现在场中，众江湖人士明显一阵骚乱。</p>
                    <p>　　其中先前和青墟对话的中年男子更是神色一沉，上前道：“叶省长、黄师长，这件事既是江湖事，自当江湖了，这是当年我们江湖人和国家方面立下的协议，因此，还请叶省长和黄师长让这些军士们暂且退下。”</p>
                    <p>　　“退下？”</p>
                    <p>　　被称为叶省长的北江行省副省长叶擎松神色严厉的盯着中年男子：“洛浮生，江湖事江湖了，但机会我已经给过你了，是你们没这个能力，奈何不得这些东阳剑宗余孽，如此，就只得由我们亲自出手。”</p>
                    <p>　　叶擎松说完，根本不给洛浮生说话的机会，转向黄师长黄乘龙道：“我曾听闻那些修至巅峰的江湖武者，能闪避子弹，抗衡现代化热武器，可我却不信！眼前此人，被称为剑圣，半年前一人一剑，连败国家十位武道大师，乃是处于最巅峰的一批武者，今日我倒想看看，他是不是真如传闻中的那样，能以血肉之躯，和全副武装的精锐特种军队对抗，还请黄师长让我开开眼界！”</p>
                    <p>　　“如叶省长所愿。”</p>
                    <p>　　“叶省长、黄师长……”</p>
                    <p>　　洛浮生正要说些什么，可黄乘龙却已是一声令下。</p>
                    <p>　　“杀！”</p>
                    <p>　　“我们退入祖师大殿！”</p>
                    <p>　　青墟不想叶擎松、黄乘龙两位非江湖人士会突然命令士兵开枪，当即一手抓住姜凝芝，瞬间朝着身后祖师大殿飞退而去。</p>
                    <p>　　“青墟、古柯，带着少宗主快走，我来断后！”</p>
                    <p>　　长老姜云则是在众人打算开枪刹那，一声爆喝，浑身气血上涌，仿佛炮弹一般，猛然朝着军阵中央的叶擎松、黄乘龙爆射而去：“狗官受死！”</p>
                    <p>　　“开枪！杀，杀了他们！”</p>
                    <p>　　看到姜云以远超人体极限般的速度杀来，叶擎松脸色一变，连忙大喝。</p>
                    <p>　　“砰砰砰砰！”</p>
                    <p>　　枪声顿时响起。</p>
                    <p>　　可在子弹的射杀下，姜云的身形却是以不可思议的迅速疯狂变幻，竟是在刹那间突破了一百零八位特种军士组成的火力网，尽管身上被子弹擦伤，留下鲜血，可却已扑至叶擎松身前。</p>
                    <p>　　“死来！”</p>
                    <p>　　“哼！”</p>
                    <p>　　就在此时，负责下令的黄乘龙一声冷哼，下一刻，竟是爆发气血，狂奔迎上已处于强弩之末的姜云一拳轰出。</p>
                    <p>　　拳劲相交，气浪翻涌，扑杀而至的姜云被这一击轰得倒飞出去。</p>
                    <p>　　而那黄乘龙同样身形震荡着，连退三步，将脚下铺垫整齐的大理石板踩的一阵粉碎。</p>
                    <p>　　“武术？我也会！我黄乘龙虽非武道大师，却也达到武者高阶！凭你，还杀不了我！”</p>
                    <p>　　“砰砰砰！”</p>
                    <p>　　而在姜云被击退的同时，枪声响起。</p>
                    <p>　　爆发气血尚来不及换气的姜云这一刻却再没有了刚才的幸运，顷刻间被几十杆枪打成筛子，带着愤怒，不甘而死。</p>
                    <p>　　“上！一个不留！”</p>
                    <p>　　黄乘龙眼中精光烁烁：“听闻东阳剑宗中有一块天书石壁，刻有无人能懂的上古文字，记载着顶尖法门，今日有此机会可调动军队出手，我必要将这一法门纳入囊中。”</p>
                    <p>　　心念转动间，他暗暗扫了洛浮生等人一眼。</p>
                    <p>　　恐怕在场过半江湖人士和他一样，也是带着窥觑东阳剑宗天书石壁的目的而来，否则这些人不会如此积极。</p>
                    <p>　　祖师大殿。</p>
                    <p>　　乃是一处靠着东阳山的洞穴改建而成，小半个大殿都镶嵌在山壁之中。</p>
                    <p>　　“少宗主，青墟，山洞内有一密道，可直通山外，不过若是没人阻拦，一旦让人察觉，及时追上去，怕是借助密道都无法逃脱，因此，我留下来断后！你们二人乃我东阳剑宗天赋最为优异之人，一定要活着离开！”</p>
                    <p>　　“不！”</p>
                    <p>　　青墟摇了摇头：“古柯长老，以你的实力，面临上百装备精良的特种军士，根本拦不了多久，我来垫后才是最佳选择。”</p>
                    <p>　　说话间，他弹了弹手中青锋宝剑：“你们退，一定要带着凝芝师姐安全离开。”</p>
                    <p>　　“青墟师弟……这件事情，与你无关，一切，都是我的过错，既然犯下了过错，就当由我来承担。”</p>
                    <p>　　姜凝芝神色哀伤道。</p>
                    <p>　　“错的不是你，你从来没有做错过什么。”</p>
                    <p>　　青墟看着姜凝芝……</p>
                    <p>　　“我相信，你斩杀那几个人渣，东阳剑宗上下哪怕为此引来灭顶之灾，也没有任何人会怪你。”</p>
                    <p>　　“可是……”</p>
                    <p>　　“交给我吧，我是唯一能够阻挡住这些军士追击步伐之人，我断后，是最佳选择，再则，我的身份和你们不同，你们是纯粹的江湖人，而我，身后还站着一个坐上市长位置的父亲以及在玉海行省都颇有影响力的青家，他们绝不敢真正杀我！”</p>
                    <p>　　“真的！？”</p>
                    <p>　　“真的！你知道，我从来不会骗你！”</p>
                    <p>　　姜凝芝看着青墟那张有些年轻的面庞，眼睛渐渐模糊，她猛然上前，一把抱住青墟：“青墟，答应我，一定要活着离开东阳山，然后找到我！”</p>
                    <p>　　青墟轻嗅着她身上夹杂着淡淡血腥味的体香，左手手指插过她背后那一丝柔顺的秀发，环抱着她纤细的腰肢，慎重道：“我答应你，我会活着离开东阳山，活着找到你！”</p>
                    <p>　　“我等你！”</p>
                    <p>　　姜凝芝仿佛承诺一般说着，紧接着，她迅速将一直玉颈上的一根镶嵌着紫色宝石的项链戴到了青墟身上：“我会一直等下去！”</p>
                    <p>　　这根项链，青墟知道，这是她的家传之物……</p>
                    <p>　　名为……</p>
                    <p>　　造化！</p>
                    <p>　　“去吧！”</p>
                    <p>　　青墟肃然道。</p>
                    <p>　　姜凝芝用力的点了点头：“一定要找到我。”</p>
                    <p>　　说完，她猛然转身，朝着天书石壁不远处的一个小型山洞而去，古柯紧随其后。</p>
                    <p>　　“古柯，保护好凝芝。”</p>
                    <p>　　见得古柯也要跟着踏入山洞，青墟慎重的道了一声。</p>
                    <p>　　“宗主对我有知遇之恩，除非我死，否则，我不会让少宗主受任何伤害。”</p>
                    <p>　　古柯斩钉截铁道。</p>
                    <p>　　“凝芝江湖经验太浅，有你在，我就放心了！”</p>
                    <p>　　青墟目光望向祖师大殿外：“我会尽力，让他们无法再迈出祖师大殿一步！”</p>
                    <p>　　“青墟……叶擎松，他不会因你的身份而收手？”</p>
                    <p>　　“杀子之仇，不共戴天。”</p>
                    <p>　　古柯沉默了下来。</p>
                    <p>　　眼见那些逼近的士兵几乎就要出现眼前，他猛然将一个精致华丽充满着一种神秘色彩的瓷瓶掏了出来，递交到了青墟手上，狠狠的道了一声：“保重！”</p>
                    <p>　　而后，转身就走！</p>
                    <p>　　“凝芝……这一次，恐怕我要失约了……”</p>
                    <p>　　青墟喃喃道。</p>
                    <p>　　可惜……</p>
                    <p>　　如果他不冲动，凭借他身上那一特殊异能，他的成就不可能止步于武道大师，将来甚至有望修成武道宗师，乃至具备和国家高层平等对话资格的武圣。</p>
                    <p>　　“举起手来！”</p>
                    <p>　　“不许动！”</p>
                    <p>　　这个时候，诸多士兵已经杀至，迅速瞄准青墟。</p>
                    <p>　　“天书石壁……”</p>
                    <p>　　青墟仿若未觉，抬头，看着山洞尽头，那刻画着大量神秘文字……或者说符文的石壁。</p>
                    <p>　　这些文字、符文，密密麻麻，遍布整个山洞，使得整个山洞内部充满着神秘古朴的气息。</p>
                    <p>　　“该死，那里有个山洞……追上去，一个都不能留下，我要将东阳剑宗所有人斩尽杀绝！”</p>
                    <p>　　身后，传来了叶擎松充满愤怒的声音。</p>
                    <p>　　“叶家，称得上有权有势的，就只有你一个叶擎松吧？只要你叶擎松死了，剩下一个稽查处处长、一个商人，应该无法再动用军队力量才是……”</p>
                    <p>　　青墟转过头，目光落到叶擎松身上。</p>
                    <p>　　“青墟是么？当真以为，你出身青家，我就不敢杀你？我倒要看看，青家是否会为了一个第四代子弟，和我这位实权省长撕破脸皮！”</p>
                    <p>　　叶擎松的脸上隐隐有些狰狞。</p>
                    <p>　　“杀我？你没机会了。”</p>
                    <p>　　青墟说着，眼神顿时变得无比凌厉。</p>
                    <p>　　下一刻，一股强大到恐怖的力量，自他体内豁然爆发。</p>
                    <p>　　“杀！”</p>
                    <p>　　“开枪！开枪！给我开枪将他射杀！”</p>
                    <p>　　“挡我者死！”</p>
                    <p>　　青墟发出一阵长啸，一人一剑，宛若流光，在枪林弹雨中疯狂闪避间，直刺叶擎松！</p>
                    <p>　　“砰砰砰……”</p>
                    <p>　　枪声彻响。</p>
                    <p>　　集中精力的青墟没有留意，随着那名为“造化”的项链沾染了他的鲜血，他的身躯，竟是宛如一个容器，迅速的吸收起这根项链上的紫宝石……</p>
                    <p>　　与此同时，一股特殊的能量随着项链“造化”粉碎而逸散开来，如冲击波席卷了整个山洞，而后……</p>
                    <p>　　山洞石壁上下那没人能够看懂的符文，迅速闪耀、激活，开始扭曲虚空……</p>
                    <p>　　……</p>
                    <p>　　这一日，东阳山上，显现神异，据说有仙阵出世，扭曲虚空，将方圆十里化为湮粉。</p>
                    <p>　　整个东阳山上数百江湖中人、上百军士，除了寥寥数位修有所成的武道大师在踏入东阳剑宗祖师大殿前有感凶机显现以最快速度逃离外，无一幸免，被空间扭曲吞噬。</p>
                    <p>　　一时间东阳山惨剧，成为江湖上最大的未解谜团之一，渊远流传。</p>
                </div>
            </div>
        </div>


        <div class="chapter-controll wrap800">

            <a href="javascript: void(0);">上一章</a><span></span><a href="javascript: void(0);">目录</a><span></span><a href="javascript: void(0);">下一章</a>

        </div>
    </section>

    <!--===== End Main =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/chapter.js"></script>

</body>
</html>