<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" /> -->
    <title>Python探索馆 - Slice</title>
    <!-- Main Theme -->
    <link rel="stylesheet" href="css/detail.css" />

    <!-- Font -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_s60wfkri6ndpwrk9.css">
  </head>
<body>


<!--===== Full Screen BG =====-->
<div class="full-pic"></div>



<!--===== Begin Header =====-->
<header class="header">
  <div class="fixed-head" style="z-index: 100;position: fixed; width: 100%; background-color: #3e3d43; -webkit-transform: translateZ(0);">
    <div class="wrap1000 head-wrap">

      <div class="logo">
        <a href="index.html">
          Python学院图书馆
        </a>
      </div>

      <!-- nav -->
      <div class="nav">
        <ul class="nav-list">
          <li>
            <a href="more.html"><span>首页</span></a>
          </li>
          <li>
            <a href="more.html"><span>玄幻</span></a>
          </li>
          <li>
            <a href="more.html"><span>修仙</span></a>
          </li>
          <li>
            <a href="more.html"><span>都市</span></a>
          </li>
          <li>
            <a href="more.html"><span>文学</span></a>
          </li>
        </ul>
      </div><!-- ./nav -->

      <div class="search">
        <form action="search.html" method="get" target="_blank">
          <input name="kw" placeholder="搜索书名" class="search-inp" type="text" maxlength="10" />
          <input id="search-submit-btn" type="submit" style="display: none;" />
          <label for="search-submit-btn">
            <i class="iconfont icon-search"></i>
          </label>
        </form>
      </div>

    </div><!-- /.wrap1000 -->
  </div>
</header>
<!--===== header End =====-->



<!--===== Begin Main =====-->
<section class="main">
  <div class="main-wrap wrap1000">
    <div class="hot-section">


      <div class="hot-content">

        <div class="book-avatar">
          <img src="img/supperstart.jpg" alt="" />
        </div>

        <div class="book-detail">
          <h1>
            <em class="mr10">我是大明星</em>
            <span>
              <a href="javascript: void(0);">张玉</a>
               著
            </span>
          </h1>

          <p class="book-tag">
            <span class="now-book"><i class="mr10 iconfont icon-dushi"></i>现代 / 都市</span>
            <span class="through-book">穿越</span>
          </p>
          <p class="description">
            天降神物！异血附体！群仙惊惧！万魔退避！一名从东洲大陆走出的少年。一具生死相依的红粉骷髅。一个立志成为至强者的故事。一段叱咤星河，大闹三界的传说。
          </p>


          <a class="now-read btn" href="chapter.html">立即阅读</a>


        </div>

      </div>
    </div>

    <!-- catalog -->
    <div class="catalog">
      <h2>目录(<span>20</span>章)</h2>

      <ul class="catalog-list">
        <li><a href="chapter.html">序章</a></li>
        <li><a href="chapter.html">第一章 尴尬走秀</a></li>
        <li><a href="chapter.html">第二章 推卸责任</a></li>
        <li><a href="chapter.html">第三章 酒吧相遇</a></li>
        <li><a href="chapter.html">第四章 惹祸上身</a></li>
        <li><a href="chapter.html">第五章 艰难求职</a></li>
        <li><a href="chapter.html">第六章 背后的她</a></li>
        <li><a href="chapter.html">第七章 恶魔/天使</a></li>
        <li><a href="chapter.html">第八章 “初次见面</a></li>
        <li><a href="chapter.html">第九章 悲伤回忆</a></li>
        <li><a href="chapter.html">第十章 戏前准备</a></li>
        <li><a href="chapter.html">第十一章 夜店之缘</a></li>
        <li><a href="chapter.html">第十二章 你的执着</a></li>
        <li><a href="chapter.html">第十三章 是是非非</a></li>
        <li><a href="chapter.html">第十四章 伤心绯闻</a></li>
        <li><a href="chapter.html">第十五章 莫名录取</a></li>
        <li><a href="chapter.html">第十六章 真相大白</a></li>
        <li><a href="chapter.html">第十七章 即日启程</a></li>
        <li><a href="chapter.html">第十八章 美好之夜</a></li>
        <li><a href="chapter.html">第十九章 意外之后</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
        <li><a href="chapter.html">第二十章 小小忐忑</a></li>
      </ul>
    </div><!-- /.catalog -->
  </div>
</section>
<!--===== Main End =====-->



<!--===== Begin Footer =====-->
<footer class="footer">
  <div class="wrap1000 footer-wrap">
    <div class="logo-footer">
      <a href="index.html">
        <img src="img/head_logo.png" alt="" width="55" height="50" />
        <span class="footer-txt">潭州教育Python学院</span>
      </a>
      <span class="footer-font">
        TAN ZHOU EDU PYTHON COLLEGE
      </span>
    </div>
    <div class="copy-right">
      <p>
        本站小说均来源于互联网,仅供技术学习和交流使用,请尊重原创作者切勿用商业用途,请于下载后的24小时内删除。
      </p>
      <p class="">
        Copyright © 2017 All Rights Reserved 湖南潭州教育网络科技有限公司PYTHON学院 
      </p>
    </div>
  </div>
</footer>
<!--===== Footer End =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>               