<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" /> -->
    <title>Python探索馆 - Slice</title>
    <!-- Main Theme -->
    <link rel="stylesheet" href="css/more.css" />

    <!-- Font -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />
  </head>
<body>


<!--===== Full Screen BG =====-->
<div class="full-pic"></div>



<!--===== Begin Header =====-->
<header class="header">
  <div class="fixed-head" style="position: fixed; width: 100%; background-color: #65b2f1; -webkit-transform: translateZ(0);">
    <div class="wrap1000 head-wrap">

      <div class="logo">
        <a href="index.html">
          Python学院图书馆
        </a>
      </div>

      <!-- nav -->
      <div class="nav">
        <ul class="nav-list">
          <li>
            <a href="detail.html"><span>首页</span></a>
          </li>
          <li>
            <a href="detail.html"><span>玄幻</span></a>
          </li>
          <li>
            <a href="detail.html"><span>修仙</span></a>
          </li>
          <li>
            <a href="detail.html"><span>都市</span></a>
          </li>
          <li>
            <a href="detail.html"><span>文学</span></a>
          </li>
        </ul>
      </div><!-- ./nav -->

      <div class="search">
        <form action="search.html" method="get" target="_blank">
          <input name="kw" placeholder="搜索书名" class="search-inp" type="text" maxlength="10" />
          <input id="search-submit-btn" type="submit" style="display: none;" />
          <label for="search-submit-btn">
            <i class="iconfont icon-search"></i>
          </label>
        </form>
      </div>

    </div><!-- /.wrap1000 -->
  </div>
</header>
<!--===== header End =====-->



<!--===== Begin Main =====-->
<section class="main">
  <div class="main-wrap wrap1000">
    <div class="hot-section">

      <!-- <div class="hot-shadow">
        <div class="hot-title">玄幻</div>
      </div> -->

      <div class="figure"></div>

      <div class="hot-content">

        <!-- Xuanhuan -->
        <h1 class="xunhuan-txt">玄幻</h1>

        <div class="xuanhuan">
          <div class="wrap890 xuanhuan-wrap">

            <dl class="book-list">
              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover01.jpg" alt="" width="102" height="136" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">The Sacred Ruins神圣废墟</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>啊啊</span>
                      </a>
                    </p>
                    <p class="desc">
                      当潮水涨落时，随着月亮的消失和生长.当薄雾笼罩着大地时，看哪！一旦熄灭的火在神圣的废墟中燃烧，而那枷锁束缚世界的枷锁，一个崭新的世界即将出现，秘密隐藏在神秘的斗篷里慢慢的……
                    </p>
                  </div>
                </div>
              </dd>

              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>Slice</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>

              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover01.jpg" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">The Sacred Ruins神圣废墟</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>熟熟</span>
                      </a>
                    </p>
                    <p class="desc">
                      当潮水涨落时，随着月亮的消失和生长.当薄雾笼罩着大地时，看哪！一旦熄灭的火在神圣的废墟中燃烧，而那枷锁束缚世界的枷锁，一个崭新的世界即将出现，秘密隐藏在神秘的斗篷里慢慢的……
                    </p>
                  </div>
                </div>
              </dd>


              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>苗苗</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>


              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover01.jpg" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">The Sacred Ruins神圣废墟</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>心心</span>
                      </a>
                    </p>
                    <p class="desc">
                      当潮水涨落时，随着月亮的消失和生长.当薄雾笼罩着大地时，看哪！一旦熄灭的火在神圣的废墟中燃烧，而那枷锁束缚世界的枷锁，一个崭新的世界即将出现，秘密隐藏在神秘的斗篷里慢慢的……
                    </p>
                  </div>
                </div>
              </dd>

              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>世世</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>


              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover01.jpg" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">The Sacred Ruins神圣废墟</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>梦梦</span>
                      </a>
                    </p>
                    <p class="desc">
                      当潮水涨落时，随着月亮的消失和生长.当薄雾笼罩着大地时，看哪！一旦熄灭的火在神圣的废墟中燃烧，而那枷锁束缚世界的枷锁，一个崭新的世界即将出现，秘密隐藏在神秘的斗篷里慢慢的……
                    </p>
                  </div>
                </div>
              </dd>

              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>剑剑</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>


              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>剑剑</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>


              <dd class="book">
                <div class="book-border-bottom"></div>
                <div class="book-wrap">
                  <a class="cover" href="detail.html"><img src="img/cover02.png" alt="" width="136" height="180" /></a>
                  <div class="book-presentation">
                    <h2><a href="detail.html">Otherworldly Evil Monarch</a></h2>
                    <p class="book-info">
                      <i></i>
                      <span>玄幻</span>
                      <span class="info-txt">连载</span>
                      <span>314.14万字</span>
                    </p>
                    <p class="book-author">
                      <a href="javascript: void(0);">作者:
                        <span>剑剑</span>
                      </a>
                    </p>
                    <p class="desc">
                      俊熙是现代地球的第一刺客，他在暗杀领域的技能和知识是无与伦比的，他的成就是前所未有的，他的声望吓倒了整个黑社会。然而，在劫持神秘宝藏的任务中，发生了一场不幸事件...... 
                    </p>
                  </div>
                </div>
              </dd>

            </dl>


            
          </div>
        </div>
        
        <!-- pagin -->
        <div class="pagin">
          <ul class="page-list">
            <li><a href="javascript: void(0);">&lt;&lt; 首页</a></li>
            <li><a href="javascript: void(0);">&lt;</a></li>
            <li class="page"><a href="javascript: void(0);">1</a></li>
            <li class="page"><a href="javascript: void(0);">2</a></li>
            <li class="page"><a href="javascript: void(0);">3</a></li>
            <li class="page"><a href="javascript: void(0);">4</a></li>
            <li class="page"><a href="javascript: void(0);">5</a></li>
            <li class="page"><a class="on" href="javascript: void(0);">6</a></li>
            <li class="page"><a href="javascript: void(0);">7</a></li>
            <li class="page"><a href="javascript: void(0);">8</a></li>
            <li class="page"><a href="javascript: void(0);">9</a></li>
            <li><a href="javascript: void(0);">&gt;</a></li>
            <li><a href="javascript: void(0);">末页 &gt;&gt;</a></li>
          </ul>
          <form id="page-form" action="" method="get">
            <input type="text" name="page" value="6" />
            
            <label for="page-submit">
              <span class="page-submit">GO</span>
            </label>
            <input type="submit" id="page-submit" style="display: none;" />
          </form>
        </div>


      </div>
    </div>
  </div>
</section>
<!--===== Main End =====-->



<!--===== Begin Footer =====-->
<footer class="footer">
  <div class="wrap1000 footer-wrap">
    <div class="logo-footer">
      <a href="detail.html">
        <img src="img/footer_logo.png" alt="" width="55" height="50" />
        <span class="footer-txt">潭州教育Python学院</span>
      </a>
      <span class="footer-font">
        TAN ZHOU EDU PYTHON COLLEGE
      </span>
    </div>
    <div class="copy-right">
      <p>
        本站小说均来源于互联网,仅供技术学习和交流使用,请尊重原创作者切勿用商业用途,请于下载后的24小时内删除。
      </p>
      <p class="">
        Copyright © 2017 All Rights Reserved 湖南潭州教育网络科技有限公司PYTHON学院 
      </p>
    </div>
  </div>
</footer>
<!--===== Footer End =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>               