<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="" />
        <meta name="description" content="" />
        <title>搜索</title>
        <!-- Style -->
        <link href="css/search.css" rel="stylesheet" />

        <!-- Font -->
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_n5vylbuqe61or.css" />

        <!-- Book Icon -->
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_s60wfkri6ndpwrk9.css">

        <!-- Banner -->
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_j4y842l05y3w61or.css">
    </head>
<body>

  <header class="header">
    <div class="fixed-head" style="z-index: 100;width: 100%; background-color: #3e3d43; -webkit-transform: translateZ(0); height: 65px;">
      <div class="wrap1000 head-wrap">

        <div class="logo">
          <a href="index.html">
            Python学院图书馆
          </a>
        </div>

        <!-- nav -->
        <div class="nav">
          <ul class="nav-list">
            <li>
              <a href="more.html"><span>首页</span></a>
            </li>
            <li>
              <a href="more.html"><span>玄幻</span></a>
            </li>
            <li>
              <a href="more.html"><span>修仙</span></a>
            </li>
            <li>
              <a href="more.html"><span>都市</span></a>
            </li>
            <li>
              <a href="more.html"><span>文学</span></a>
            </li>
          </ul>
        </div><!-- ./nav -->

        <div class="search">
          <form action="search.html" method="get" target="_blank">
            <input name="kw" placeholder="搜索书名" class="search-inp we-on" type="text" maxlength="10">
            <input id="search-submit-btn" type="submit" style="display: none;">
            <label for="search-submit-btn">
              <i class="iconfont icon-search icon-sear"></i>
            </label>
          </form>
        </div>

      </div><!-- /.wrap1000 -->
    </div>
  </header>


  <section>
    <div class="search-wrap">
      <form id="search-form" action="" method="get">
        <input name="kw" type="text" value="潭州" /><span id="search-btn" class="btn search-btn">搜 索</span>
      </form>
    </div>
    

    <div class="wrap1000 clear">

      <!-- RecommendRight -->
      <div class="re-right">
        <h2>随机强推</h2>

        <!-- Random Recommend -->
        <ul class="re-list">

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd1.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">最佳影星</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  白色十三号
                </a>
              </div>
              <p class="rec-desc">
                我要躺在钞票堆里打滚！我要跟一群美女开趴！我
              </p>
            </div>
          </li>

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd2.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">大明至圣</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  一叶一钢筋
                </a>
              </div>
              <p class="rec-desc">
                苏白衣穿越回到明末，随身带着教授系统，不想称
              </p>
            </div>
          </li>

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd3.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">大名妖孽</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  冰临神下
                </a>
              </div>
              <p class="rec-desc">
                天上有神，世上何以妖孽横行？天上无神，心中何
              </p>
            </div>
          </li>

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd4.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">时空道观</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  鹰扬郎将
                </a>
              </div>
              <p class="rec-desc">
                西北雪山，有一座道观，名叫长生观，看似平凡，
              </p>
            </div>
          </li>

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd5.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">孽崛起录</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  Mr佳男
                </a>
              </div>
              <p class="rec-desc">
                一支穿云箭，小说主角来相见！召唤千军or抽奖
              </p>
            </div>
          </li>

          <li>
            <a class="cover" href="javascript: void(0);">
              <img src="img/recommd6.jpg" alt="" width="72" height="96" />
            </a>

            <div class="rec-wrap">
              <h3>
                <a class="rec-title" href="javascript: void(0);">影的世界</a>
              </h3>
              <div class="rec-author">
                <a href="javascript: void(0);">
                  <i class="iconfont icon-icon-awsauthor"></i>
                  有梦之人
                </a>
              </div>
              <p class="rec-desc">
                在电影的世界里唯有不断地变强，才能主宰自己的
              </p>
            </div>
          </li>

        </ul><!-- /.Random Recommend -->
      </div><!-- /.Recommend Right -->



      <!-- BookContent left -->
      <div class="book-left">
        

        <div class="result">

          <div class="search-content">
            <i class="iconfont icon-book2"></i>
            <p>没有找到符合条件的书</p>

          </div>

          <h2>
            猜你喜欢
          </h2>

        </div>
        <!-- 
            最多十页，然后分页
         -->
        <div class="about-result">
          <ul class="result-list">

            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result1.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">古玩人生</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">可大可小</a>
                  <a class="book-classify" href="javascript: void(0);">都市</a>
                  <span>完本</span>
                </div>
                <div class="about-desc">
                  <p>
                    于立飞，<cite class="red-kw">潭州</cite>市博物馆的临时保安，善良却不本分，机智却不狡诈，傲然却不狂妄。突然有了跟古玩沟通的感知能力，平静而平淡的人生，一下子变得精彩纷呈。
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2015-05-01 14:01:14</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>

            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result2.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);"><cite class="red-kw">潭州</cite>晓梦</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">月上柳梢头1</a>
                  <a class="book-classify" href="javascript: void(0);">武侠</a>
                  <span>暂停</span>
                </div>
                <div class="about-desc">
                  <p>
                    “郡山洞底，千年雪藏，千叶莲花，若水天下。”——《独步》宋朝徽宗年间，主不掌朝，权臣当道，党同伐异，民不聊生，国堪不国。一个后宫刘氏党羽；一个皇朝下的“六贼”党羽；一个
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-03-25 10:56:08</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>

            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result3.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);"><cite class="red-kw">潭州</cite>红土</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">睡觉不戴眼罩</a>
                  <a class="book-classify" href="javascript: void(0);">仙侠</a>
                  <span>连载中</span>
                </div>
                <div class="about-desc">
                  <p>
                    燕鸣沙，多变的人，不该生在这世间，怎么斗得过这些惊才艳艳的天才？
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-05-24 13:43:10</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>


            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result4.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">觅个封侯</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">觅个封侯</a>
                  <a class="book-classify" href="javascript: void(0);">历史</a>
                  <span>连载中</span>
                </div>
                <div class="about-desc">
                  <p>
                    2016年伊始，狂热的全面战争系列游戏爱好者，地道的长沙小伙王凌烟夜跑时不慎掉入一个没有井盖的下水道，由此穿越到南宋宋理宗宝祐五年（公元1257年）的<cite class="red-kw">潭州</cite>（今长沙），迎接他的不是两宋的富贵荣华，而
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-03-25 10:56:08</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>


            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result1.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">古玩人生</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">可大可小</a>
                  <a class="book-classify" href="javascript: void(0);">都市</a>
                  <span>完本</span>
                </div>
                <div class="about-desc">
                  <p>
                    于立飞，<cite class="red-kw">潭州</cite>市博物馆的临时保安，善良却不本分，机智却不狡诈，傲然却不狂妄。突然有了跟古玩沟通的感知能力，平静而平淡的人生，一下子变得精彩纷呈。
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2015-05-01 14:01:14</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>

            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result2.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);"><cite class="red-kw">潭州</cite>晓梦</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">月上柳梢头1</a>
                  <a class="book-classify" href="javascript: void(0);">武侠</a>
                  <span>暂停</span>
                </div>
                <div class="about-desc">
                  <p>
                    “郡山洞底，千年雪藏，千叶莲花，若水天下。”——《独步》宋朝徽宗年间，主不掌朝，权臣当道，党同伐异，民不聊生，国堪不国。一个后宫刘氏党羽；一个皇朝下的“六贼”党羽；一个
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-03-25 10:56:08</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>

            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result3.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);"><cite class="red-kw">潭州</cite>红土</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">睡觉不戴眼罩</a>
                  <a class="book-classify" href="javascript: void(0);">仙侠</a>
                  <span>连载中</span>
                </div>
                <div class="about-desc">
                  <p>
                    燕鸣沙，多变的人，不该生在这世间，怎么斗得过这些惊才艳艳的天才？
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-05-24 13:43:10</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>


            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result4.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">觅个封侯</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">觅个封侯</a>
                  <a class="book-classify" href="javascript: void(0);">历史</a>
                  <span>连载中</span>
                </div>
                <div class="about-desc">
                  <p>
                    2016年伊始，狂热的全面战争系列游戏爱好者，地道的长沙小伙王凌烟夜跑时不慎掉入一个没有井盖的下水道，由此穿越到南宋宋理宗宝祐五年（公元1257年）的<cite class="red-kw">潭州</cite>（今长沙），迎接他的不是两宋的富贵荣华，而
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-03-25 10:56:08</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>

            
            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result4.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">觅个封侯</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">觅个封侯</a>
                  <a class="book-classify" href="javascript: void(0);">历史</a>
                  <span>连载中</span>
                </div>
                <div class="about-desc">
                  <p>
                    2016年伊始，狂热的全面战争系列游戏爱好者，地道的长沙小伙王凌烟夜跑时不慎掉入一个没有井盖的下水道，由此穿越到南宋宋理宗宝祐五年（公元1257年）的<cite class="red-kw">潭州</cite>（今长沙），迎接他的不是两宋的富贵荣华，而
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2016-03-25 10:56:08</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>


            <li>
              <div class="about-cover">
                <a href="javascript: void(0);">
                  <img src="img/result1.jpg" alt="" width="102" height="136" />
                </a>
              </div>
              <div class="about-info">
                <div class="about-title">
                  <a href="javascript: void(0);">古玩人生</a>
                </div>
                <div class="about-author">
                  <i style="font-size: 14px;" class="iconfont icon-icon-awsauthor"></i>
                  <a class="author-link" href="javascript: void(0);">可大可小</a>
                  <a class="book-classify" href="javascript: void(0);">都市</a>
                  <span>完本</span>
                </div>
                <div class="about-desc">
                  <p>
                    于立飞，<cite class="red-kw">潭州</cite>市博物馆的临时保安，善良却不本分，机智却不狡诈，傲然却不狂妄。突然有了跟古玩沟通的感知能力，平静而平淡的人生，一下子变得精彩纷呈。
                  </p>
                </div>

                <div class="date">
                  更新日期：
                  <span>2015-05-01 14:01:14</span>
                </div>

                <a class="detail-btn btn" href="detail.html">书籍详情</a>
              </div>
            </li>



          </ul>
        </div>

        
        <div class="paging">
          <ul class="page-list">
            <li>
              <a href="javascript: void(0);">&lt;</a>
            </li>
            <li>
              <a href="javascript: void(0);">1</a>
            </li>
            <li>
              ...
            </li>
            <li>
              <a href="javascript: void(0);">3</a>
            </li>
            <li>
              <a href="javascript: void(0);">4</a>
            </li>
            <li>
              <a class="on" href="javascript: void(0);">5</a>
            </li>
            <li>
              <a href="javascript: void(0);">6</a>
            </li>
            <li>
              <a href="javascript: void(0);">7</a>
            </li>
            <li>
              ...
            </li>
            <li>
              <a href="javascript: void(0);">49</a>
            </li>
            <li>
              <a href="javascript: void(0);">&gt;</a>
            </li>
          </ul>
          <form id="page" action="" method="get">
            <input type="text" name="page" value="5" />
            <span class="page-submit">GO</span>
          </form>
        </div>

      </div><!-- BookContent Left -->


    </div>
  </section>



  <!--===== Begin Footer =====-->
  <footer class="footer">
    <div class="wrap1000 footer-wrap">
      <div class="logo-footer">
        <a href="index.html">
          <img src="img/head_logo.png" alt="" width="55" height="50" />
          <span class="footer-txt">潭州教育Python学院</span>
        </a>
        <span class="footer-font">
          TAN ZHOU EDU PYTHON COLLEGE
        </span>
      </div>
      <div class="copy-right">
        <p>
          本站小说均来源于互联网,仅供技术学习和交流使用,请尊重原创作者切勿用商业用途,请于下载后的24小时内删除。
        </p>
        <p>
          Copyright © 2017 All Rights Reserved 湖南潭州教育网络科技有限公司PYTHON学院 
        </p>
      </div>
    </div>
  </footer>
  <!--===== Footer End =====-->




<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/search.js"></script>

</body>
</html>