<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email_bomb</title>
</head>
<body>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" name="sender" placeholder="sender">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="receiver" placeholder="receiver">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="content" placeholder="content">
            </div>
            <!--<div class="form-group">-->
                <!--<input type="password" class="form-control" name="password" placeholder="密码">-->
            <!--</div>-->
            <div class="form-group">
                <button class="btn btn-primary btn-block">发送</button>
            </div>
        </div>
    </form>
</body>
</html>