{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/write_article.css') }}">
{% endblock %}

{% block title %}
    发布文章
{% endblock %}

{% block main %}
    <h3 class="page-title" style="text-align: center">发布文章</h3>
    <hr>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入标题" name="title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入关键字" name="keyword">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入作者" name="author">
            </div>
            <div class="form-group">
                <textarea name="content" rows="7" class="form-control" placeholder="请输入内容"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
{% endblock %}